<div class="careindex">
  <div class="title-desc-care-index">
    <h3>Nos soins</h3>
    <p>Nos soins sont attentivement séléctionnés selon nos critères pour vous proposer une diversiteé et une qualité correspondant à vos attentes. Nous accordons une attention particulière à chacun(e) de nos client(e)s afin de vous procurer bien-être et blabla</p>
  </div>
  <div>
    <%= link_to 'Nos soins pour homme', 'mens_cares', class: "main-style-card men-woman-care-card" %>
    <%= link_to 'Nos soins pour femme', 'womans_cares', class: "main-style-card men-woman-care-card" %>
  </div>
</div>
