// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
$sandy-gold: #dfc9af;
$sandy-gold-hover: #d3bea7;
$sandy-grey: #F0F0F0;
$ink-blue: #383e42;
$ink-blue-hover: #3e4649;
$ink-blue-lighter: #464f54;
