.men-woman-care-card {
  border: solid white 0.5px;
  border-radius: 4px;
  background: $sandy-gold;
  color: white;

  &:hover {
    color: $sandy-grey;
  }
}
 .careindex{
  display: felx;
  flex-direction: column;
 }

.title-desc-care-index {
  text-align: center;
  margin-bottom: 50px;
  color: $ink-blue-lighter;

  h3 {
    font-family: $title-font;
    font-size: 55px;
  }

  p {
    font-family: $main-font;
  }
}

.care-cards-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
