.contact-left-content {
  display: flex;
  flex-direction: column;
  color: $ink-blue-lighter;

  h3{
    font-family: $main-font;
    font-size: 55px;
  }

  h2 {
    font-size: 22px;
  }

  h2, p, a {
    font-family: $main-font;
  }

  a {
    color: $ink-blue-lighter;

    &:hover {
      color: $ink-blue-lighter;
    }
  }
}

.contact-title{
  margin-bottom: 110px;
  text-align: center;
}

@media (max-width: 768px) {
  iframe {
    display: none;
  }
  .contact-left-content{
    padding: 5px;
    text-align: center;
  }
  .contact-title{
    margin-bottom: 45px;
  }
}

@media (min-width: 768px) {
  .maplink {
    display: none;
  }
}