.main-style-home {
  p {
  color: $sandy-gold;
  font-size: 25px;
  text-align: center;
  }
}

.home-cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-card {
  margin: 45px 0px 130px 0px;
  color: $sandy-gold;

  &:hover {
    color: $sandy-gold-hover;
  }
}
