.home-cards-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    color: $ink-blue-lighter;
    font-weight: lighter;
  }
}

.card-main-style {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  width: 300px;
  height: 370px;
  margin: 45px 0px;
  text-align: center;
  padding: 50px;
  color: $sandy-gold;
  font-weight: bold;
  font-size: 20px;
  transition: all .3s ease-in-out;

  &:hover {
    text-decoration: none;
    color: $sandy-gold-hover;
    transform: scale(1.1);
  }
}
