<div>
  <%= image_tag "weath_background.png", width: 400, height: 300 %>
  <h1>La beauté autrement</h1>
  <h5>Maison de bien être eco-responsable</h5>
  <%= link_to 'Je reserve', 'cares_index' %>
  <hr>
</div>
