<div class="banner" >
  <div class="elipse">
    <div class="branding-text">
      <h1>La Beauté Autrement ...</h1>
      <h5>Boutique de cosmétiques &<br>institut éco-responsable</h5>
      <div class="square"></div>
    </div>
  </div>
  <%= link_to 'Je réserve', 'https://slowlabeauteautrement.kalendes.com/visit/#/booking', class: "call-to-action" %>
  <hr>
</div>
