<div>
  <span>Ce site a été fait avec <i class="fas fa-heart"> par <%= link_to 'Jérémy BRD', "https://www.jeremybrd.com", target: "_blank" %></i></span>
  <span><i class="far fa-copyright"></i> <%= copiright_year_update %> La_Beauté_autrement</span>
</div>
