<div class="footer-rights-container-home">
  <span>Ce site à été fait avec <i class="fas fa-heart" style="color: red;"></i> par <%= link_to 'Jérémy BRD', "https://www.jeremybrd.com", target: "_blank" %></span>
  <span><i class="far fa-copyright"></i> <%= copiright_year_update %> La_Beauté_autrement</span>
</div>
