<div class="home-footer-container">
  <div class="branding">
    <p>La beauté autrement</p>
    <p>LOGO</p>
  </div>
  <p>Horaires et jours d’ouverture</p>
  <p>T : (+33) 09 42 42 42 42</p>
  <p>contact@labeauteautrement.com</p>
  <p>4, rue de l’ecole xx xxx RENNES</p>
</div>
