<div class="home-footer-container">
  <div class="branding">
    <p>La beauté autrement</p>
    <p>LOGO</p>
  </div>
  <p><i class="fas fa-store"></i> La boutique est ouverte le matin de 10H00 à 13H00 <i class="far fa-clock"></i></p>
  <p><i class="fas fa-spa"></i> L'institut est ouvert sur rendez-vous l'après-midi, de 13H00 à 18H30 <i class="far fa-clock"></i></p>
  <p><i class="fas fa-times"></i> FERMÉ LE JEUDI ET DIMANCHE</p>
  <p><i class="fas fa-phone"></i> (+33) 09xxxxxxxx</p>
  <div class="inliner mb-3">
    <span>
      <i class="far fa-envelope" style="color: #e5dfcc; font-size: 22.5px;"></i>
      <a href="mailto:contact@labeauteautrement.fr" class="link" data-ga-action="click"
      data-ga-category="Contact links" data-ga-label="Footer CTA - Email">hello@labeauteautrement.fr</a>
    </span>
  </div>
  <p><i class="fas fa-map-marker-alt"></i> 1, Place de l'Église, 35520 La Mézière</p>
</div>
