<div class="contact-left-content">
  <div class="contact-title">
    <h3>Come on !</h3>
    <h2>Institut de beauté à la Méziere</h2>
  </div>
  <div class="contact-content">
    <p><i class="fas fa-store"></i> La boutique est ouverte le matin de 10H00 à 13H00 <i class="far fa-clock"></i></p>
    <p><i class="fas fa-spa"></i> L'institut est ouvert sur rendez-vous l'après-midi, de 13H00 à 19H00 <i class="far fa-clock"></i></p>
    <p><i class="fas fa-times"></i> Fermé le Dimanche et le Jeudi</p>
    <p><i class="fas fa-phone"></i> (+33) 02 23 22 50 79</p>
    <div class="inliner mb-3">
      <span>
        <i class="far fa-envelope" style="font-size: 22px;"></i>
        <a href="mailto:hello@labeauteautrement.fr" class="link" data-ga-action="click"
        data-ga-category="Contact links" data-ga-label="Footer CTA - Email">hello@labeauteautrement.fr</a>
      </span>
    </div>
    <p><i class="fas fa-map-marker-alt"></i> 1, Place de l'Église, 35520 La Mézière</p>
  </div>
  <span class="mapsbutton">
  <i class="fas fa-map-marked-alt maplink" id="sb"></i>
  <%= link_to  "Afficher sur maps", 'https://g.page/Labeauteautrement?share', class: 'maplink' %> 
  </span>
</div>
<iframe
  width="27%"
  height="550"
  frameborder="0" style="border:0; border-radius: 4px; box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);"
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d332.29334355988607!2d-1.7549369591729294!3d48.2191973233409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480ee79f3d0315e5%3A0xdcca4a3654f106b0!2sOUVERTURE%20SEPTEMBRE%202020%20%3A%20Institut%20La%20beaut%C3%A9%20autrement!5e0!3m2!1sfr!2sfr!4v1596024096006!5m2!1sfr!2sfr"
  allowfullscreen>
</iframe>

 
