<h2>Nous Rendre Visite</h2>

<div>
  <p>La beauté autrement</p>
  <p>LOGO</p>
  <p>T : (+33) 09 42 42 42 42</p>
  <p>contact@labeauteautrement.com</p>
  <p>4, rue de l’ecole xx xxx RENNES</p>
</div>

<iframe
  width="50%"
  height="450"
  frameborder="0" style="border:0"
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d332.29334355988607!2d-1.7549369591729294!3d48.2191973233409!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x480ee79f3d0315e5%3A0xdcca4a3654f106b0!2sOUVERTURE%20SEPTEMBRE%202020%20%3A%20Institut%20La%20beaut%C3%A9%20autrement!5e0!3m2!1sfr!2sfr!4v1596024096006!5m2!1sfr!2sfr"
  allowfullscreen>
</iframe>
