<%= render 'shared/banner' %>

<p>
  Bioesthéticienne diplômée depuis quelques années, experte en nutrition et en
  bien être Floriane s’appuie sur son savoir-faire pour vous prodiguer les soins
  et produits en accord avec vos valeurs.
</p>

<div>
  <%= link_to 'La carte de nos soins', '#' %>
</div>
<div>
  <%= link_to 'Notre selection de produits disponible en boutique', '#' %>
</div>
<div>
  <%= link_to 'Passez nous voir', '#' %>
</div>
