.home-footer-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $ink-blue-lighter;
  p {
    color: $sandy-gold;
    font-size: 22.5px;
    font-family: $main-font;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
  }
}

.branding {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
