.nav-social {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 15px 25px;
  font-size: 25px;

  a {
    color: $sandy-gold;
    text-decoration: none;
    transition: all .3s ease-in-out;

    & :hover {
      text-decoration: none;
      color: $sandy-gold-hover;
      transform: scale(1.2);
    }
  }
}
 .social-buttons {
  display: flex;
  flex-direction: row;
  width: 215px;
  justify-content: space-evenly;
  align-items: center;
 }
