<!-- <div id="kalendes-widget-container" ><script>kalendes.setBottomRightPosition()</script></div>
<script>window.kalendesLoaded = function(){ console.log("Le Widget est chargé");
 kalendes.setPercentHeight(90); kalendes.setWidth(450); };</script>
<script>kalendes.setBottomRightPosition()</script>
<h2>Notre selection de produits</h2>
<p>Disponible en boutique</p> -->

<h2>Bientot Disponible 😇</h2>
